parameters:
	ignoreErrors:
		-
			message: '#Method Gotenberg\\Test\\Modules\\ChromiumPdfTest::provideUrlData\(\) should return array#'
			path: tests/*
		-
			message: '#Method Gotenberg\\Test\\Modules\\ChromiumPdfTest::provideHtmlData\(\) should return array#'
			path: tests/*
		-
			message: '#Method Gotenberg\\Test\\Modules\\ChromiumPdfTest::provideMarkdownData\(\) should return array#'
			path: tests/*
		-
			message: '#Method Gotenberg\\Test\\Modules\\ChromiumScreenshotTest::provideUrlData\(\) should return array#'
			path: tests/*
		-
			message: '#Method Gotenberg\\Test\\Modules\\ChromiumScreenshotTest::provideHtmlData\(\) should return array#'
			path: tests/*
		-
			message: '#Method Gotenberg\\Test\\Modules\\ChromiumScreenshotTest::provideMarkdownData\(\) should return array#'
			path: tests/*

		-
			message: '#Method Gotenberg\\Test\\Modules\\PdfEnginesTest::provideMergeData\(\) should return array#'
			path: tests/*
		-
			message: '#Method Gotenberg\\Test\\Modules\\PdfEnginesTest::provideSplitData\(\) should return array#'
			path: tests/*
		-
			message: '#Method Gotenberg\\Test\\Modules\\PdfEnginesTest::provideConvertData\(\) should return array#'
			path: tests/*